.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(25, 30, 58, 0.631373) !important;
}

.table > tbody > tr > td, .table > thead > tr > th {
    border: 1px solid #ebedf2;
}



.table > tbody:before {
    content: none;
}


.bg-none{
    background: transparent!important;
    background-color: transparent!important;
}
